#container.bannerLayout {
  min-height: 100%;
  position: relative;

  #content {
    padding: 12px 12px 60px 12px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    footer {
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}