<template name="metrics">
  <div class="ui stackable grid metrics">
    <div class="two column row">
      <div class="column">
        {{> ticketStats }}
        <div class="one column row">
          {{> userStats}}
        </div>
      </div>
      <div class="column">
        {{> leaderboard }}
        <div class="one column row">
          {{> skillsList }}
        </div>
      </div>
    </div>
    <div class="two column row">
      <div class="column">
        {{> ticketCharts }}
      </div>

    </div>
  </div>
</template>