<template name="announcer">
  <div class="ui announcer segment">
    <div class="ui form">
      <h4 class="ui header">
        Create an Announcement
      </h4>
      <div class="field">
        <input id="a-header" type="text" name="header" placeholder="Header Text" required>
      </div>
      <div class="field">
        <textarea id="a-content" name="content" placeholder="Announcement content" required></textarea>
      </div>
      <div class="field">
        <button class="submit disabled ui blue button">
          Announce
        </button>
      </div>
    </div>
  </div>
</template>