<template name="ticketPanel">
  <div class="ticketPanel">
    <div class="ui segment">
      {{#if queueEnabled}}

        {{#if currentTicket}}
          {{#with currentTicket}}
            {{#if statusIs "OPEN"}}
              <div class="title">
                {{constant 'TICKET_PANEL_OPEN'}}
              </div>
              <div class="content">
                <p>
                  {{constant 'TICKET_PANEL_OPEN_MESSAGE'}}
                </p>

                {{#if expirationFromNow}}
                  <p>
                    Your ticket will expire {{expirationFromNow}}.
                  </p>
                {{/if}}
              </div>
            {{/if}}

            {{#if statusIs "CLAIMED"}}
              <div class="title">
                {{constant 'TICKET_PANEL_CLAIMED'}}
              </div>
              <div class="content">
                {{claimName}} has claimed your ticket.
                <br>
                They're on the way!
              </div>
            {{/if}}

            <br>

            <button class="fluid danger push button cancel">
              {{constant 'TICKET_PANEL_CANCEL'}}
            </button>
          {{/with}}

        {{else}}

          {{#if unratedTicket}}

            {{#with unratedTicket }}
              {{> ticketPanelRating }}
            {{/with}}

          {{else}}
            <div class="title">
              <p>
                <strong>
                  {{greeting}}
                </strong>
              </p>
              {{constant 'TICKET_PANEL_GREETING'}}
            </div>
            <div class="content">
              {{constant 'TICKET_PANEL_TOPIC'}}
              <br>
              <input id="topic"
                     type="text"
                     name="topic"
                     class="clean"
                     placeholder="{{constant 'TICKET_PANEL_TOPIC_PLACEHOLDER'}}">
              <br>
              {{constant 'TICKET_PANEL_LOCATION'}}
              <br>
              <input id="location"
                     type="text"
                     name="location"
                     class="clean"
                     placeholder="{{constant 'TICKET_PANEL_LOCATION_PLACEHOLDER'}}">
              <br>
              {{constant 'TICKET_PANEL_CONTACT'}}
              <br>
              <input id="contact"
                     type="text"
                     name="contact"
                     class="clean"
                     placeholder="{{constant 'TICKET_PANEL_CONTACT_PLACEHOLDER'}}">
            </div>
            <br>
            <button id="submit" class="primary push disabled fluid button">
              {{constant 'TICKET_PANEL_HELP'}}
            </button>
          {{/if}}

        {{/if}}

      {{else}}
         {{constant 'TICKET_PANEL_DISABLED_MSG'}}
      {{/if}}
    </div>
  </div>
</template>

<template name="ticketPanelRating">

  <div class="title">
    How did it go?
  </div>
  <p>
    Rate your experience with {{claimName}}.
  </p>
  <div id="rating">
    <div class="ui massive yellow star rating"
         data-max-rating="5"></div>
    <br>
    <div class="ui form">
      <div class="field">
        <label> Do you have any comments? (Optional) </label>
        <textarea
            class="comments"
            rows="2"
            ></textarea>
      </div>
      <button
          id="feedback"
          class="disabled fluid primary push button">
        Submit Feedback
      </button>
    </div>
  </div>

</template>