<template name="feed">
  <div class="feed-title">
    Currently in the queue:
  </div>
  <div class="ui feed">
    {{#if tickets}}
      {{#each tickets}}
        {{> feedTicket }}
      {{/each}}
    {{else}}
      Nobody in the queue!
    {{/if}}
  </div>
</template>

<template name="feedTicket">
  <div class="event feedTicket">
    <div class="label">
      {{#if open}}
        <i class="circle thin icon"></i>
      {{/if}}
      {{#if claimed}}
        <i class="circle icon claimed"></i>
      {{/if}}
    </div>
    <div class="content">
      <div class="summary">
        {{ feedName }}
        <div class="date">
          {{fromNow timestamp}}
        </div>
      </div>
    </div>
  </div>
</template>