<template name="settings">
  <div class="ui top attached tertiary header segment">
    <strong>
      Settings
    </strong>
  </div>
  <div class="ui bottom attached segment">

    <h3 class="ui dividing header">
      Queue
    </h3>
    <div class="ui form">

      <div class="field">
        <div id="queueEnabled" class="ui toggle checkbox">
          <input type="checkbox" name="queueEnabled" checked="{{settings.queueEnabled}}">
          <label>Open/Close Queue</label>
        </div>
      </div>
    </div>

    <h3 class="ui dividing header">
      Ticket Expiration
    </h3>
    <div class="ui form">

      <div class="grouped inline fields">
        <div class="field">
          <div class="ui radio checkbox" data-name="expire">
            <input type="radio" value="900000" name="expirationDelay">
            <label>after <strong>15</strong> minutes</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" data-name="expire">
            <input type="radio" value="1800000" name="expirationDelay">
            <label>after <strong>30</strong> minutes</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" data-name="expire">
            <input type="radio" value="3600000" name="expirationDelay">
            <label>after <strong>60</strong> minutes</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" data-name="expire">
            <input type="radio" value="0" name="expirationDelay">
            <label>Tickets Don't Expire</label>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>