<template name="home">
  <section id="home">
    <div class="ui centered stackable page grid">
      <div class="centered row">
        <div class="twelve wide column">
          {{> announcement }}
        </div>
      </div>
      <div class="centered row">
        <div class="six wide column">
          {{> ticketPanel }}
        </div>
        <div class="six wide column">
          <div class="one column row">
            <div class="column">
              {{> mentorStatus}}
            </div>
          </div>
          <br>
          <div class="one column row">
            <div class="column">
              {{> feed }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>



