<template name="leaderboard">
  <div class="ui yellow segment">
    <h3 class="ui dividing header">
      Leaderboard
    </h3>
    <div class="ui large relaxed ordered list">
      {{#each topMentors}}
        {{> leaderboardUser}}
      {{/each}}
    </div>
  </div>

</template>

<template name="leaderboardUser">
  <div class="item">
    <div class="content">
      <strong>{{profile.name}}</strong>
      <em>{{profile.company}}</em>
      <p>
        <strong>{{rating}}</strong> <i class="ui yellow star icon"></i> ({{numTickets}} Tickets)
      </p>
    </div>
  </div>
</template>