//------------------------------
// BRANDING COLOR VARIABLES
//
// primary: primary brand color
// secondary: secondary brand color
// success: generally some sort of green that fits with your color palette
// danger: generally some sort of red to indicate danger
//------------------------------

// Primary color of your brand (Used for primary buttons, glows, etc.)
$brand-primary: #5A7A96;

// Secondary color of your brand (used for secondary buttons)
$brand-secondary: #7852C9;

// Success Buttons
$brand-success: #5FFFDC;

// Danger/Negative Buttons
$brand-danger: #FF80CF;

// Black
$black: #2d2d2d;

// --------------
// Colors used for social auth
// --------------

// Facebook Color
$facebook-blue: #3b5998;

// Github Gray
$github-gray: #e4e4e4;

// ===============================================================================

//------------------------------
// FONT MIXINS
//
// Change the default fonts.
// font-stack: base fonts
// logo-font: font for the logo
//
// To use fonts other than Lato/Montserrat, edit client/app.html to include
// the appropriate fonts.
//------------------------------

// Styling for the fonts
@mixin font-stack(){
  font-family: 'Circular Std Bold', sans-serif;
  font-weight: 300;
}

@mixin logo-font(){
  font-family: 'Circular Std Bold', sans-serif;
  font-weight: 700;
}

// ===============================================================================

//------------------------------
// IMAGE BRANDING
//
// Set branding here by changing up the color of text and the background images
// or background color.
//------------------------------

// The splash is the login page.
#splash {

  // There are a few defaults that are here, which you can comment/uncomment,
  // but you should feel free to change this to whatever you want.

  // Font color
  color: white;

  // Basic white text on brand color:
  // background: $brand-primary;

  // Single background image covering the entire page
  background: url(/assets/images/casc-green2_blurred10-uhhh.png) no-repeat center center;
  background-size: cover;

  // Background image that repeats
  //background: url(/assets/images/splash-bg-lowglow.png);
}


// Banner which appears under the nav, and on each page.
#banner {
  // Font color
  color: #5A7A96;

  // Single background image covering
  // background: url(/assets/images/background.jpg) no-repeat center center;
  // background-size: cover;

  // Basic white on brand color:
  // background: $brand-primary;

  // Repeated Background:
  background: url(/assets/images/geometry2.png) repeat;
}

.header {
    color: #5A7A96;
}

.subheader {
    color: #5A7A96;
    font-weight: 700;
}

// Footer, which appears on each page.
footer {
  color: darken(white, 25%);
}
