// Colors for the Queue

// Primary color of your brand
$brand-primary: rgb(0, 136, 255);

// Secondary color of your brand
$brand-secondary: #f2c61f;

// Success Buttons
$brand-success: rgb(46, 204, 113);

// Danger/Negative Buttons
$brand-danger: #e74c3c;

// Black
$black: #2d2d2d;
