#user,
#tickets {
  .container {
    text-align: center;
  }

  .ticket {
    font-size: 2em;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.15);
      @include border-radius(2px);
    padding: 1em;
  }

  button {
    margin-right: auto;
    margin-left: auto;
  }
}