@import 'color';
@import 'mixins';
@import 'pushbuttons';
@import 'cleaninput';

body,
html,
button,
input {
  @include font-stack();
  color: #303030;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

#banner {
  margin-bottom: 36px;
  background: url(assets/images/banner.jpg) fixed center center no-repeat;
  background-size: cover;

  .content {
    @include logo-font();
    font-size: 3em;
    letter-spacing: .2em;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
}

#home {
  background: url(assets/images/background.jpg) fixed center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;

  >.container {
    @include vertical-align();
    button {
      margin: 0 auto;
    }

    .header,
    .subheader {
      text-align: center;
    }

    .subheader {
      font-size: 1.5em;
      margin-bottom: .5em;
    }

    .header {
      @include logo-font();
      font-size: 4em;
      letter-spacing: .2em;
    }
  }

}

#nav {
  position: absolute;
  padding: 12px;
  width: 100%;
}

#error {
  @include vertical-align();
  text-align: center;
  font-size: 1.5em;
}

@import 'user';

@-webkit-keyframes greenPulse {
  from {-webkit-box-shadow: 0 0 18px rgba(51, 51, 51, 0.20); }
  50% {-webkit-box-shadow: 0 0 36px lighten($green, 20); }
  to { -webkit-box-shadow: 0 0 18px rgba(51, 51, 51, 0.20); }
}

.ticket.active {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}