@import 'branding';
@import 'keyframes';
@import 'mixins';

// Individual Elements
@import 'elements/pushbuttons';
@import 'elements/cleaninput';

// Components
@import 'components/banner';
@import 'components/nav';
@import 'components/tickets';
@import 'components/ticketPanel';
@import 'components/feed';
@import 'components/userStats';
@import 'components/userEdit';
@import 'components/userTable';

// Views
@import 'views/splash';
@import 'views/home';
@import 'views/error';
@import 'views/admin';
@import 'views/profile';

body,
html,
button,
input {
  @include font-stack();
  color: #303030;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

// Layout
@import 'layouts/bannerLayout';

// Any overrides
@import 'override';

