<template name="nav">
  {{#if currentUser }}
    <div id="nav">
      <div class="ui secondary inverted menu">
        {{#if userIs 'admin'}}
          <a class="item" href="/admin">
            Admin
          </a>
        {{/if}}
        {{#if userIs 'mentor'}}
          <a class="item" href="/mentor">
            Mentor
          </a>
        {{/if}}
        <a class="item" href="/">
          Queue
        </a>
        <div class="right menu">
          <a class="item" href="/profile">
            {{profile}}
          </a>
          <a class="ui item" id="logout">
            Logout
          </a>
        </div>
      </div>
    </div>
  {{/if}}
</template>