#splash {
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size:130%;

  >.container {
    padding: 10px;
    @include vertical-align();
    button {
      margin: 0 auto;
    }

    .header,
    .subheader {
      text-align: center;
    }

    .subheader {
      font-size: 1.5em;
      margin-bottom: .5em;
      line-height:1em

    }

    .header {
      @include logo-font();
      font-size: 3.5em;
      letter-spacing: .2em;
      line-height: 1.33;
    }

    #login {
      max-width: 320px;
      margin: 0 auto;
    }

    #password-block {
      display: none;
    }

    @media (max-width:673px) {
      .subheader{
        padding: 0 10px;
        line-height: 1.2em;
        font-size: 1em;
      }
      .header{
        font-size:2.5em;
      }
    }

  }


}
