<template name="userStats">
  <div class="userStats">
    <div class="ui top attached tertiary header segment">
      <strong>
        User Summary
      </strong>
    </div>
    <div class="ui bottom attached segment">

      <div>
        Total Users:
        <strong>
        {{ users.length }}
        </strong>
      </div>
      <div>
        Total Mentors:
        <strong>
          {{ mentors.length }}
        </strong>
      </div>
      <div>
        Total Tickets:
        <strong>
          {{ ticketCount }}
        </strong>
      </div>

      <br>

      <p>
        Of <strong>{{users.length}}</strong> users,
        <strong>{{activeUsers}}</strong> have submitted tickets.
      </p>

      <p>
        Of <strong>{{mentors.length}}</strong> mentors,
        <strong>{{activeMentors}}</strong> have completed tickets.
      </p>

      <h4 class="ui dividing header">Topic Word Frequencies</h4>

      <div class="ui labels">
        {{#each wordFreqs}}
          <div class="ui label">
            {{word}} {{count}}
          </div>
        {{/each}}
      </div>


    </div>
  </div>
</template>