<template name="userStats">
  <div class="userStats">
    <div class="ui top attached tertiary header segment">
      <strong>
        Users
      </strong>
    </div>
    <div class="ui bottom attached segment">
    </div>

    <div class="ui statistics">
      <div class="statistic">
        <div class="value">
          {{users.length}}
        </div>
        <div class="label">
          Total Users
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          {{mentors.length}}
        </div>
        <div class="label">
          Mentors
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          {{admins.length}}
        </div>
        <div class="label">
          Admins
        </div>
      </div>
    </div>
  </div>
</template>