<template name="mentor">
  <div id="mentor">
    <div class="ui three column stackable centered page grid">
      <div class="seven wide column">
        {{> tickets }}
      </div>
      <div class="five wide column">
        <div class="one column row">
          <div class="column">
          {{> leaderboard }}
          </div>
        </div>
        <br>
        <div class="onw column row">
          <div class="column">
          {{> skillsList }}
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</template>

