<template name="tickets">
  {{> nav }}

  <div id="tickets">
    <div class="container">
      <h1> Open Tickets </h1>
      <br>
      {{#each users}}
        {{> ticket }}
        <br>
      {{/each}}
    </div>
    <br>
  </div>
</template>

<template name="ticket">
  <div class="ticket">
    <a href="http://github.com/{{services.github.username}}">
      {{#if profile.name }}
        {{profile.name}}
      {{else}}
        {{services.github.username}}
      {{/if}}
    </a>
    needs help with
    {{#if profile.ticket.topic}}
      {{profile.ticket.topic}}
    {{else}}
      something.
    {{/if}}
    ({{profile.ticket.location}})
    <br>
    <br>
    <button class="small fluid green push button help">Help this Hacker</button>
  </div>
  <br>
  <br>
</template>