#banner {
  margin-bottom: 12px;
  background: url(assets/images/banner.jpg) fixed center center no-repeat;
  background-size: cover;

  .content {
    @include logo-font();
    font-size: 3em;
    letter-spacing: .2em;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
}