#banner {
  margin-bottom: 12px;
  line-height:2.5em;

  .content {
    @include logo-font();
    line-height: 40px;
    font-size: 3em;
    letter-spacing: .2em;
    color: white;
    text-align: center;
    padding: 1.4em 0 1.4em;
    a {
      color: white;
    }
  }
}
