.feed {
  .claimed.icon {
    color: $brand-primary !important;
    @include pulse(iconPulse, 2s);
  }

  .content {
    .negative.extra.text {
      border-left: 3px solid $brand-danger !important;
      padding-left: 8px !important;
    }
  }
}