#nav {
  position: absolute;
  padding: 8px 8px 0;
  width: 100%;

  .floating.notification.label {
    top: -0.5em;
    left: 90%;
    padding: 0.4em;
  }
}

@media only screen and (min-width: 768px) {

  #mobile-nav {
    display: none;
  }
}
