.ticketPanel {
  text-align: center;
  .title {
    font-size: 1.8em;
    line-height: 1.8em;
    margin-bottom: 12px;
  }
  .content {
    font-size: 1.3em;
  }
  input {
    width: 100%;
  }
  button {
    font-size: 1.3em;
  }

  #rating {
    margin-top: 12px;
    .rating {
      margin-bottom: 12px;
    }
    .comments {
      height: auto;
      min-height: 0;
    }
  }
}