.ticketPanel {
  text-align: center;
  position: relative;
  z-index: 102;
  .map {
    display: none;
    position: absolute;
    z-index: 102;
    width: 100%;
    margin: -14px;
    text-align: center;
  }
  .pin{
    display: none;
    position: absolute;
    width: 4%;
    left: 0px;
    top: 0px;
    z-index: 103;
  }
  .cancel {
    padding-bottom: 20px;
    color: red;
  }
  .title {
    font-size: 1.8em;
    line-height: 1.8em;
    margin-bottom: 12px;
  }
  .content {
    font-size: 1.3em;
  }
  input {
    width: 100%;
  }
  select {
      max-width: 100%;
  }
  button {
    font-size: 1.3em;
  }

  #rating {
    margin-top: 12px;
    .rating {
      margin-bottom: 12px;
    }
    .comments {
      height: auto;
      min-height: 0;
    }
  }
}
