<template name="nav">
  {{#if currentUser }}
    <div id="nav">
      <div class="ui secondary inverted menu">
        {{#if currentUser.profile.admin}}
          <a class="item" href="/admin">
            Admin
          </a>
        {{/if}}
        {{#if currentUser.profile.mentor}}
          <a class="item" href="/mentor">
            Mentor
          </a>
        {{/if}}
        <a class="item" href="/">
          Queue
        </a>
        <div class="right menu">
          <div class="item">
            {{ currentUser.profile.name }}
          </div>
          <!--<a class="ui icon item" href="/user">-->
            <!--<i class="ui setting icon"></i>-->
          <!--</a>-->
          <a class="ui item" id="logout">
            Logout
          </a>
        </div>
      </div>
    </div>
  {{/if}}
</template>