<template name="userCreation">
  <div class="ui two column stackable grid">
    <div class="column">
      <div class="ui segment">
        <h3 class="ui dividing header">
          Batch User Creation
        </h3>
        <div class="ui form">
          <div class="field">
            <label>CSV Format: Username (unique), Password, Name</label>
            <textarea id="usersCsv"></textarea>
          </div>
          <div class="field">
            <div id="checkFormat" class="ui blue button">
              Check Format
            </div>
            {{#if ready}}
              <div id="createUsers" class="ui green button">
                Create Users
              </div>
            {{else}}
              <div id="createUsers" class="ui disabled green button">
                Create Users
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3 class="ui dividing header">
          Check Output:
        </h3>
        {{#if error}}
          <div class="ui error message">
            {{error}}
          </div>
        {{/if}}
        <div class="ui relaxed list">
          {{#each formattedUsers}}
            <div class="item">
              {{#if success}}
                <i class="green large check circle icon"></i>
              {{else}}
                {{#if failed}}
                  <i class="red large remove circle icon"></i>
                {{else}}
                  <i class="large circle thin icon"></i>
                {{/if}}
              {{/if}}

              <div class="content">
                <div class="header">
                  {{profile.name}}
                </div>
                <div class="description">
                  Username:
                  <strong>
                    {{username}}
                  </strong>
                  Password:
                  <strong>
                    {{password}}
                  </strong>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>