<template name="userTable">
  <table class="ui striped table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Github</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
      <tr>
        <td>
          <strong>
            {{ profile.name }}
          </strong>
        </td>
        <td>
          {{ services.github.username }}
        </td>
        <td>
          {{ services.github.email }}
        </td>

        <td class="right aligned">
          {{#if profile.mentor}}
            <span class="ui tiny blue button toggle-mentor">
            Mentor
          </span>
          {{else}}
            <span class="ui tiny basic button toggle-mentor">
            Mentor
          </span>
          {{/if}}

          {{#if profile.admin}}
            <span class="ui tiny blue button toggle-admin">
            Admin
          </span>
          {{else}}
            <span class="ui tiny basic button toggle-admin">
            Admin
          </span>
          {{/if}}
        </td>

      </tr>
    {{/each}}
    </tbody>
  </table>
</template>