#splash {
  color: white;
  background: #3BC7FC;
  background: url(/assets/images/background.jpg) no-repeat center center;
  background-size: cover; }

#banner {
  color: white;
  background: url(/assets/images/background.jpg) no-repeat center center;
  background-size: cover; }

footer {
  color: #bfbfbf; }

@-webkit-keyframes iconPulse {
  from {
    opacity: 1; }
  50% {
    opacity: .5; }
  to {
    opacity: 1; } }
@-webkit-keyframes borderPulse {
  from {
    border-color: #3BC7FC; }
  50% {
    border-color: white; }
  to {
    border-color: #3BC7FC; } }
button.push {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-weight: 700;
  color: white;
  display: block;
  position: relative;
  background: none;
  font-size: 1.1em;
  padding: .7em 1em;
  border: none;
  background: grey;
  border-bottom: 4px solid grey;
  border-bottom-color: #9a9a9a;
  text-transform: uppercase;
  transition-duration: .2s; }
  button.push:focus {
    outline: none; }
  button.push:active {
    margin-top: 4px;
    border-bottom-width: 0; }
  button.push.small {
    font-size: .75em; }
  button.push.fluid {
    width: 100%; }
  button.push.disabled {
    opacity: .3;
    cursor: auto; }
    button.push.disabled:active {
      margin-top: 0;
      border-bottom-width: 4px; }
  button.push.primary {
    background: #3BC7FC;
    border-bottom-color: #6dd5fd; }
  button.push.secondary {
    background: #5ccc77;
    border-bottom-color: #83d897; }
  button.push.success {
    background: #2ecc71;
    border-bottom-color: #54d98c; }
  button.push.danger {
    background: #e74c3c;
    border-bottom-color: #ed7669; }
  button.push.github {
    color: #656565;
    background: #e4e4e4;
    border-bottom-color: #ececec; }
  button.push.facebook {
    background: #3b5998;
    border-bottom-color: #4c70ba; }

input.clean {
  background: none;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  margin: 8px auto;
  text-align: center;
  padding-bottom: 4px; }
  input.clean:focus {
    outline: none; }

#banner {
  margin-bottom: 12px; }
  #banner .content {
    font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: .2em;
    color: white;
    text-align: center;
    padding: 1em 0; }
    #banner .content a {
      color: white; }

#nav {
  position: absolute;
  padding: 12px;
  width: 100%; }
  #nav .floating.notification.label {
    top: -0.5em;
    left: 90%;
    padding: 0.4em; }

.tickets {
  text-align: center; }
  .tickets .ticket {
    text-align: left;
    font-size: 1.2em; }
    .tickets .ticket.claimed {
      border: 1px solid #3BC7FC;
      -webkit-animation-name: borderPulse;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite; }
    .tickets .ticket button {
      margin-bottom: 4px;
      font-size: .8em; }

.ticketPanel {
  text-align: center; }
  .ticketPanel .title {
    font-size: 1.8em;
    margin-bottom: 12px; }
  .ticketPanel .content {
    font-size: 1.3em; }
  .ticketPanel input {
    width: 100%; }
  .ticketPanel button {
    font-size: 1.3em; }

.feed .claimed.icon {
  color: #3BC7FC !important;
  -webkit-animation-name: iconPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }

.userStats .statistics {
  float: right;
  margin-right: 12px; }
  .userStats .statistics .statistic {
    margin-bottom: 1.3em; }

.user-edit .label {
  margin-bottom: 8px; }

.userTable .label {
  margin-bottom: 6px; }

#splash {
  height: 100%;
  width: 100%;
  color: white; }
  #splash > .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    #splash > .container button {
      margin: 0 auto; }
    #splash > .container .header,
    #splash > .container .subheader {
      text-align: center; }
    #splash > .container .subheader {
      font-size: 1.5em;
      margin-bottom: .5em; }
    #splash > .container .header {
      font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
      font-weight: 700;
      font-size: 4em;
      letter-spacing: .2em; }

#home .feed-title {
  font-size: 1.2em;
  margin-bottom: 8px; }

#error {
  text-align: center;
  font-size: 1.5em;
  margin-top: 30px; }

#admin {
  padding-bottom: 40px; }

#profile .title {
  text-align: center; }

body,
html,
button,
input {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  color: #303030; }

body,
html {
  margin: 0;
  padding: 0;
  height: 100%; }

#container.bannerLayout {
  min-height: 100%;
  position: relative; }
  #container.bannerLayout #content {
    padding: 12px 12px 60px 12px; }
  #container.bannerLayout #footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
    #container.bannerLayout #footer footer {
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px; }

/*# sourceMappingURL=site.css.map */
